In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(
   ...:      {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [4]:
df['logic'] = np.where(df['AAA']>5, 'high', 'low')
df

   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20   50   low
2    6   30  -30  high
3    7   40  -50  high

In [7]:
abs(df.CCC-43.0).abs().argsort()

0    1
1    0
2    2
3    3
Name: CCC, dtype: int64

In [9]:
import functools

df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})
Crit1 = df.AAA <= 5.5
Crit2 = df.BBB == 10.0
Crit3 = df.CCC > -40.0
CritList = [Crit1,Crit2,Crit3]
AllCrit = functools.reduce(lambda x,y: x & y, CritList)

SyntaxError: invalid syntax (<ipython-input-9-d9a756d75e88>, line 4)